{% extends "gigs/admin_base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<h1 class="admin-header">Administration > Log In</h1>
<form class="pure-form pure-form-aligned" method="post" action="{% url 'gigs:login' %}">
{% csrf_token %}
  <formset>
    <div class="pure-control-group">
      {{ form.username.label_tag }} {{ form.username }}
    </div>
    <div class="pure-control-group">
      {{ form.password.label_tag }} {{ form.password }}
    </div>
    <div class="pure-controls">
      <button type="submit" class="pure-button">Login</button>
    </div>
  </formset>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}