.errorlist {
  list-style: none;
}
.errorlist li {
  color: #f00;
}
body.admin {
  width: 960px;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
body.admin .admin-header {
  margin: 20px 20px 20px 0px;
  color: #2b538a;
}
body.admin .admin-table {
  border: 1px solid #7285a0;
}
body.admin .admin-table th {
  background-color: #2b538a;
  color: #fff;
}
body.admin .admin-table tr:nth-of-type(even) {
  background: #fff;
}
body.admin .admin-table tr:nth-of-type(odd) {
  background: #d5dfed;
}
body.admin .admin-table td,
body.admin .admin-table th {
  border-left: 1px solid #7285a0;
}
body.admin .button-error {
  background: #ca3c3c;
/* this is a maroon */
}
body.gigs {
  margin: auto;
/* center in viewport */
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
body.gigs .masthead {
  background: #2b538a;
  color: #fff;
  overflow: hidden;
}
body.gigs .masthead .masthead-logo a {
  text-decoration: none;
  color: #fff;
}
body.gigs .masthead .masthead-logo h1 {
  font-weight: 100;
  margin: 5px;
}
body.gigs .masthead .masthead-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
body.gigs .masthead .masthead-menu ul li {
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
}
body.gigs .masthead .masthead-menu ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  display: inline-block;
  line-height: 53px;
  padding: 0px 10px;
}
body.gigs .masthead .masthead-menu ul li a:hover {
  background: #83a6d5;
}
body.gigs .masthead .masthead-menu ul li a.selected {
  background: #83a6d5;
}
body.gigs .top-content {
  background: #83a6d5;
  position: relative;
}
body.gigs .top-content .upcoming-gigs,
body.gigs .top-content .content-right {
  color: #fff;
  box-sizing: border-box;
}
body.gigs .top-content .upcoming-gigs {
  padding: 0px 10px 0px 0px;
}
body.gigs .top-content .upcoming-gigs h2 {
  font-weight: 500;
  margin: 10px 5px 10px 5px;
}
body.gigs .top-content .upcoming-gigs ul {
  list-style-type: none;
  padding: 0px 0px 0px 5px;
}
body.gigs .top-content .upcoming-gigs li {
  margin-top: 5px;
  padding-bottom: 5px;
}
body.gigs .top-content .upcoming-gigs .title {
  font-weight: 400;
}
body.gigs .top-content .upcoming-gigs .date {
  font-style: italic;
  font-weight: 100;
}
body.gigs .top-content .upcoming-gigs .url a {
  font-weight: 100;
  color: #fff;
}
body.gigs .top-content .michael-image {
  padding: 10px 0px 0px 0px;
  position: relative;
  min-height: 320px;
}
body.gigs .top-content .michael-image img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
body.gigs .mid-content {
  padding-bottom: 10px;
}
body.gigs .mid-content #mc_embed_signup {
  padding: 0px 0px 0px 5px;
}
body.gigs .mid-content #mc_embed_signup h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #2b538a;
}
body.gigs .mid-content #mc_embed_signup form {
  padding: 10px 0px 0px 0px;
  color: #2b538a;
}
body.gigs .mid-content #mc_embed_signup form input {
  border-radius: 0px;
}
body.gigs .mid-content #mc_embed_signup form input[type='submit'] {
  background-color: #83a6d5;
  border-radius: 0px;
}
body.gigs .mid-content #mc_embed_signup form input[type='submit']:hover {
  background-color: #2b538a;
}
body.gigs .mid-content #mc_embed_signup #mce-responses {
  margin: 0px;
  padding: 0px;
}
body.gigs .mid-content #mc_embed_signup #mce-responses .response {
  margin: 0px;
  padding: 0px;
}
body.gigs .mid-content .social {
  padding-top: 10px;
  margin-left: 20px;
}
body.gigs .mid-content .social h2 {
  margin: 15px 0px 15px 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #2b538a;
}
body.gigs .mid-content .social a {
  color: #83a6d5;
  font-weight: 100;
  font-size: 1.5em;
}
body.gigs .footer {
  margin-top: 60px;
  color: #83a6d5;
  font-weight: 300;
}
body.gigs .footer a {
  text-decoration: none;
  color: #83a6d5;
}
body.gigs .footer .dandm {
  margin-left: 20px;
}
body.gigs .allgigs .title-row {
  background: #83a6d5;
}
body.gigs .allgigs .title-row h2 {
  margin: 0px;
  padding: 5px 0px 5px 0px;
  color: #fff;
  font-weight: 500;
}
body.gigs .allgigs ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
body.gigs .allgigs ul .title {
  font-weight: 400;
}
body.gigs .allgigs ul .date {
  font-style: italic;
  font-weight: 300;
}
body.gigs .allgigs ul .url a {
  font-weight: 100;
}
body.gigs .allgigs ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}
body.gigs .allgigs ul li:nth-child(even) {
  background: #83a6d5;
  color: #fff;
}
body.gigs .allgigs ul li:nth-child(even) a {
  color: #fff;
}
body.gigs .allgigs ul li:nth-child(odd) {
  color: #83a6d5;
}
body.gigs .allgigs ul li:nth-child(odd) a {
  color: #83a6d5;
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (max-width:767px) {
  body.gigs .mid-content .social {
    margin: 0px;
    padding: 0px;
  }
}
