//Style django error lists
mid-blue = #83A6D5
dark-blue = #2B538A
grey-blue = #7285A0
light-blue = #A6C3EA
lighter-blue = #B8CDEA
lightest-blue = #D5DFED
.errorlist
  list-style none
  li
    color red

body.admin
  width 960px
  padding-left 2.5%
  padding-right 2.5%

  .admin-header
    margin 20px 20px 20px 0px
    color dark-blue

  .admin-table
    border 1px solid grey-blue

    th
      background-color dark-blue
      color white

    tr:nth-of-type(even)
        background white

    tr:nth-of-type(odd)
        background lightest-blue

    td,
    th
      border-left 1px solid grey-blue;    


  .button-error
    background: rgb(202, 60, 60); /* this is a maroon */

body.gigs
  margin auto /* center in viewport */
  background lighter-blue
  font-family 'Roboto', sans-serif
  font-weight 400

  .masthead
    background dark-blue
    color white
    overflow hidden

    .masthead-logo
      a
        text-decoration none
        color white

      h1
        font-weight 100
        margin 5px

    .masthead-menu
      ul
        list-style none
        margin 0px
        padding 0px
        li
          display block
          float left
          margin 0px
          padding 0px

          a
            text-decoration none
            font-size 20px
            font-weight 100
            color white
            display inline-block
            line-height 53px
            padding 0px 10px

          a:hover
            background mid-blue

          a.selected
            background mid-blue

  .content
    background mid-blue

    .content-left,
    .content-right
      color white

    .content-right
      height 512px



  .content-center
    color white
    background-color mid-blue

// @media (min-width: 980px)
//   body.gigs
//     width 960px

// @media (min-width: 768px) and (max-width: 979px)
//   body.gigs
//     width 760px
