//Style django error lists
mid-blue = #83A6D5
dark-blue = #2B538A
grey-blue = #7285A0
light-blue = #A6C3EA
lighter-blue = #B8CDEA
lightest-blue = #D5DFED
terracotta = #FFBD93
.errorlist
  list-style none
  li
    color red

body.admin
  width 960px
  padding-left 2.5%
  padding-right 2.5%

  .admin-header
    margin 20px 20px 20px 0px
    color dark-blue

  .admin-table
    border 1px solid grey-blue

    th
      background-color dark-blue
      color white

    tr:nth-of-type(even)
        background white

    tr:nth-of-type(odd)
        background lightest-blue

    td,
    th
      border-left 1px solid grey-blue;    


  .button-error
    background: rgb(202, 60, 60); /* this is a maroon */

body.gigs
  margin auto /* center in viewport */
  background white
  font-family 'Roboto', sans-serif
  font-weight 400

  .masthead
    background dark-blue
    color white
    overflow hidden

    .masthead-logo
      a
        text-decoration none
        color white

      h1
        font-weight 100
        margin 5px

    .masthead-menu
      ul
        list-style none
        margin 0px
        padding 0px
        li
          display block
          float left
          margin 0px
          padding 0px

          a
            text-decoration none
            font-size 20px
            font-weight 100
            color white
            display inline-block
            line-height 53px
            padding 0px 10px

          a:hover
            background mid-blue

          a.selected
            background mid-blue

  .top-content
    background mid-blue
    position relative

    .upcoming-gigs,
    .content-right
      color white
      box-sizing border-box

    .upcoming-gigs
      padding 0px 10px 0px 0px

      h2
        font-weight 500
        margin 10px 5px 10px 5px

      ul
        list-style-type none
        padding 0px 0px 0px 5px

      li
        margin-top 5px
        padding-bottom 5px
        //border-bottom 1px solid grey-blue

      .title
        font-weight 400

      .date
        font-style italic
        font-weight 100

      .url
        a
          font-weight 100
          color white

    .michael-image
      padding 10px 0px 0px 0px
      position relative
      min-height 320px

      img
        position absolute
        bottom 0px
        right 0px

  .mid-content
    padding-bottom 10px

    #mc_embed_signup
      padding 0px 0px 0px 5px

      h2
        font-family 'Roboto', sans-serif
        font-size 24px
        font-weight 500
        color dark-blue
      form
        padding 10px 0px 0px 0px
        color dark-blue

        input
          border-radius 0px
        input[type='submit']
          background-color mid-blue
          border-radius 0px

        input[type='submit']:hover
          background-color dark-blue


      #mce-responses
        margin 0px
        padding 0px
        .response
          margin 0px
          padding 0px

    .social
      padding-top 10px
      margin-left 20px
      h2
        margin 15px 0px 15px 0px
        font-family 'Roboto', sans-serif
        font-weight 500
        color dark-blue

      a
        color mid-blue
        font-weight 100
        font-size 1.5em

  // .bottom-content
  //   border-top 1px solid dark-blue

  //   .quoteunit
  //     .pressquote
  //       margin-right 20px
  //       .title
  //         color dark-blue
  //         font-weight 400

  //       .body
  //         color mid-blue
  //         font-weight 100
  //         text-align justify

  //       .cite
  //         color dark-blue
  //         margin-top 5px
  //         font-weight 100
  //         font-style italic

  //   .quoteunit:nth-child(4)
  //     .pressquote
  //       margin-right 0px

  .footer
    margin-top 60px
    color mid-blue
    font-weight 300
    a
      text-decoration none
      color mid-blue

    .dandm
      margin-left 20px

  .allgigs
    .title-row
      background mid-blue
      h2
        margin 0px
        padding 5px 0px 5px 0px
        color white
        font-weight 500

    ul
      list-style-type none
      padding 0px
      margin 0px

      .title
          font-weight 400

      .date
        font-style italic
        font-weight 300

      .url
        a
          font-weight 100

      li
        padding-top 10px
        padding-bottom 10px

      li:nth-child(even)
          background mid-blue
          color white

          a
            color white

      li:nth-child(odd)
        color mid-blue

        a 
          color mid-blue



@media (min-width: 768px) and (max-width: 979px)
  // body.gigs
  //   .top-content
  //     .michael-image
  //       min-height 380px

@media (max-width:767px)
  body.gigs
    .mid-content
      .social
        margin 0px 0px 0px 3px
        padding 0px

    .footer
      .copyright,
      .dandm
        margin-left 3px
