{% extends 'gigs/admin_base.html' %}

{% block content%}
<p>
  <span>
    Enter the details of the gig
  </span>
</p>
<form action="{% url 'gigs:admin_create'%}" method="post" class="pure-form pure-form-aligned">
  {{form.non_field_errors}}
  {% csrf_token %}
  <formset>
    {% for field in form.visible_fields %}
    <div class="pure-control-group">
      {{field.errors}}
      {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <div class="pure-controls">
      <button type="submit" class="pure-button">Save</button>
    </div>
  </formset>
  
</form>
{% endblock %}